<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <title>Notes</title>
        <link rel="stylesheet" type="text/css" href="general.css" />
        <link rel="stylesheet" type="text/css" href="<?= $cssfile ?>.css" />
    </head>
    <body>
        {% if notes_len > 0: %}
        <table>
            {% for note in notes %}
            <tr>
                <td>{{ note['text'] | escape }}</td>
                <td class="priority">{{ note['priority'] }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        <p>{{ notes_len }} notes saved. <a href="/">New note</a></p>
    </body>
</html>
